*{
    font-family: 'Press Start 2P', cursive;
    margin: 0;
    padding: 0;
}


body {
    background-color: #f0f0f0;
    height: 90vh;
    overflow: hidden;
}
  
.grid-bg {
    background:
        repeating-linear-gradient(0deg, transparent, transparent 40px, #ccc 24px, #ccc 41px),
        repeating-linear-gradient(90deg, transparent, transparent 40px, #ccc 40px, #ccc 41px);
    background-size: 80px 80px; /* Ajusta el tamaño de la cuadrícula según tus preferencias */
}
  

nav {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 15px;
    background: #f00;
    color: #fff;
    border-bottom: 8px solid #333;
    box-shadow: 0px 30px 10px 10px #3333335d;
}

.search-ctrl {
    display: flex;
    gap: 20px;
}

.search-ctrl input{
    width: 350px;
    border: 3px solid #333;
    border-radius: 10px;
}

.search-ctrl input::placeholder {
    padding-left: 10px;
}