#keyboard {
    display: none;
    width: 100%;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: repeat(3, 45px);
    gap: 5px;
    padding: 5px;
}

.key {
    font-size: 20px;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 7px;
    background: none;
}

#send-btn {
    grid-column: span 2;
}

@media (max-width: 900px) {
    #keyboard {
        display: grid;
    }
}