:root{
    --main-color: 	#075E54;
    --second-color: #25D366;
    --third-color: #202c33;
}

*{
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.chat-container{
    width: 100%;
    height: 100vh;
    background-image: url("img/chat-background.png");
}

.chat-header{
    display: flex;
    align-items: center;
    gap: 30px;
    font-size: 20px;
    font-weight: 100;
    color: #fff;
    background: var(--third-color);
    padding: 15px;
    padding-left: 30px;
    margin-bottom: 30px;
}

.chat-header i{
    font-size: 30px;
}

#chat{
    display: flex;
    flex-direction: column;
}

.my-msg-container{
    display: flex;
    justify-content: flex-end;
}

#chat span{
    display: block;
    height: 20px;
    width:fit-content;
    padding: 12px;
    padding-right: 50px;
    margin: 10px 20px;
    background: var(--third-color);
    color: #fff;
    border-radius: 0px 10px 10px 10px;
}

#chat .my-msg{
    background: var(--main-color);
    border-radius: 10px 0px 10px 10px;
    padding-right: 65px;
}

#chat span i{
    position: absolute;
    font-style: normal;
    font-size: 12px;
    color: #aaa;
    transform:translate(40%,50%);
}






.msg-input-container{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    width: 100%;
    height: 8%;
    gap: 10px;
}

.msg-input-container input[type="text"]{
    width: 75%;
    height: 60%;
    padding-left: 20px;
    border: none;
    border-radius: 20px;
    background: var(--third-color);
    color: #fff;
    outline: none;
    caret-color: var(--second-color);
}

::placeholder{
    color: #aaa;
}

.msg-input-container button{
    width: 44px;
    height: 44px;
    border: none;
    border-radius: 50%;
    color: #fff;
    background: var(--second-color);
}